<!Doctype html>
<html>
	<head>
		<title>2 column layout - HTML + Css</title>
	</head>
	<body>
		<section style="display:flex;border: 1px solid red;padding: 20px;">
			<div style="flex: 1;background-color: blue;">1</div>
			<div style="flex: 1;background-color: gold;">2</div>
		</section>

		<section style="display:flex;border: 1px solid red;padding: 20px;">
			<div style="flex: 1;background-color: blue;">1</div>
			<div style="flex: 2;background-color: gold;">2</div>
		</section>
	</body>
</html>