<!Doctype html>
<html>
	<head>
		<title>3 column layout - HTML + Css</title>
	</head>
	<body>
		<section style="display:flex;border: 1px solid red;padding: 20px;">
			<div style="flex: 1;background-color: blue;padding: 20px;">1</div>
			<div style="flex: 1;background-color: gold;padding: 20px;">2</div>
			<div style="flex: 1;background-color: blue;padding: 20px;">3</div>
		</section>

		<section style="display:flex;border: 1px solid red;padding: 20px;">
			<div style="flex: 1;background-color: blue;padding: 20px;">1</div>
			<div style="flex: 2;background-color: gold;padding: 20px;">2</div>
			<div style="flex: 1;background-color: blue;padding: 20px;">3</div>
		</section>
	</body>
</html>