<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Footer</title>
	<style>
		.container{
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			background-color: black;
		}
		.container p,h3{
			color: #fff;
		}
		.container h3{
			text-transform: uppercase;
		}
		.container li{
			margin-bottom: 15px;
		}
		a{
			color: #ccc;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div>
			<img src="../images/logo.png" alt="logo">
			<p>AchieversIT - Provides a wide group of opportunities for freshers and Experienced candidate who can develop their skills and build their career opportunities across multiple Companies.</p>
		</div>
		<div>
			<h3>company</h3>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Placements</a>
				</li>
				<li>
					<a href="#">Corporate Training</a>
				</li>
				<li>
					<a href="#">Contact US</a>
				</li>
			</ul>
		</div>
		<div>
			<h3>company</h3>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Placements</a>
				</li>
				<li>
					<a href="#">Corporate Training</a>
				</li>
				<li>
					<a href="#">Contact US</a>
				</li>
			</ul>
		</div>
		<div>
			<h3>company</h3>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Placements</a>
				</li>
				<li>
					<a href="#">Corporate Training</a>
				</li>
				<li>
					<a href="#">Contact US</a>
				</li>
			</ul>
		</div>
		<div>
			<h3>company</h3>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Placements</a>
				</li>
				<li>
					<a href="#">Corporate Training</a>
				</li>
				<li>
					<a href="#">Contact US</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>